.navbar-text > a {
  color: inherit;
  text-decoration: none;
}

body {
  padding: 70px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Bhaina', cursive;
}

/* Customizing styling for navbar */
.navbar-default {
  background-color: #2C3E50;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18BC9C;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #1A242F; 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18BC9C;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1A242F;
  color: #FFFFFF;
}
/* End navbar Customisation */

/* Start Button Customisation */

/* End Button Customisation */


/*
Navy Blue: #2C3E50;
Navy Blue Active (darker): #1A242F;
Turquoise : #18BC9C;
White: #FFFFFF;
*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }*/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/