.navbar-text > a {
  color: inherit;
  text-decoration: none;
}

body {
  padding: 70px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo Bhaina', cursive;
}

/* Customizing styling for navbar */
.navbar-default {
  background-color: #2C3E50;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18BC9C;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #1A242F; 
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18BC9C;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1A242F;
  color: #FFFFFF;
}

/* End navbar Customisation */

/* Start Button Customisation */
.btn-primary {
  background-color: #2C3E50;
  border-color: #2C3E50;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FFFFFF;
  background-color: #1E2A36;
  border-color: #161F29; 
}

.btn-success {
  background-color: #18BC9C;
  border-color: #18BC9C;
  color: #FFFFFF;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #FFFFFF;
  background-color: #13987E;
  border-color: #13987E; 
}

.btn-default {
  background-color: #95A5A6;
  border-color: #95A5A6;
  color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-success {
  color: #FFFFFF;
  background-color: #7F9293;
  border-color: #74898A;
}
/* End Button Customisation */

/* Start Jumbotron */
.jumbotron {
  /*background-image: url(../images/anabelle_laptop_sketch.jpg);*/
  background-image: url(../images/kitty_and_desk_small.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 5px #d3d3d3;
}

.jumbotron > h1, p {
  text-shadow: 0.1em 0.1em 0.1em white;
}

/* End Jumbotron */

/*START Signup modal*/
.login-signup {
  padding: 25 0 25px;
  margin-top:25px;

}

.login-signup {
  padding: 25 0 25px;
}


.btn-success {
  background: #23bab5;
  border-radius:0;
  border: 2px solid #23bab5;
  webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
  transition: all 400ms cubic-bezier(.4,0,.2,1);
}


a {
  color: #23bab5;
}

ul {
  list-style-type: none;
}

article[role="login"] {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 30px 50px;
  margin-bottom: 20px;
}

article[role="login"] input[type="submit"] {
  padding: 10px 15px;
  font-size: 16px;
}

article[role="login"]:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 15px rgba(0, 0, 0, 0.23);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

article[role="login"] h3 {
  font-size: 26px;
  font-weight: 300;
  color: #23bab5;
  margin-bottom: 20px;
}

article[role="login"] p {
  font-size: 16px;
  padding: 5px 15px;
}

.nav-tab-holder {
  padding: 0 0 0 30px;
  float: right;
}
  .nav-tab-holder {
    float: none;
    overflow: hidden;
  }

  .nav-tabs > li > a {
    font-size: 13px;
    font-weight: 600;
    /*padding: -15px -5px;*/
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-tabs > li {
    width: 30%;
  }

.nav-tab-holder .nav-tabs {
  border: 0;
  float: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  
}


.nav-tab-holder 
.nav-tabs > li > a {
  background: #d9d9d9;
  color: #6c6c6c;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.nav-tab-holder .nav-tabs > li {
  margin-bottom: -3px;
  text-align: center;
  padding: 0;
  display: table-cell;
  float: none;
  padding: 0;
}



.nav-tab-holder .nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  color: #FFF;
  background-color: #23bab5;
  border: 0;
  border-radius: 5 5px;
}

/*END Signup modal*/

/*START payment styling*/
input, select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border:0;
  border-radius:0;
  outline: none;
}
.credit-card-wrapper .credit-card {
  -moz-box-shadow: 0px 0px 10px 2px #000;
  -webkit-box-shadow: 0px 0px 10px 2px #000;
  box-shadow: 0px 0px 10px 2px #000;
  background: #3d89b8;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  position: absolute;
  height: 240px;
  width: 388.32px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.credit-card-wrapper .front {
  top: 130px;
  left: 100px;
  z-index:2;
}
.credit-card-wrapper .front .card-title {
  font-size: 18px;
  font-weight: bolder;
  margin: 24px 0 0 24px;
}

.credit-card-wrapper .front .card-number {
  padding: 12px 24px 0;
}
.credit-card-wrapper .front .card-number .card-number-label {
  margin: 3px 0 6px;
}
.credit-card-wrapper .front .card-number input {
  background: #306c92;
  border-radius: 4px;
  border: 1px solid #ccc;
  color:white;
  font-size: 30px;
  margin: 0 3px 0 0;
  padding: 3px;
  width: 70px;
}
.credit-card-wrapper .front .card-expiration > div {
  float: left;
  padding: 3px;
}
.credit-card-wrapper .front .card-expiration .card-expiration-label {
  padding-top: 32px;
  padding-left: 25px;
}
.credit-card-wrapper .front .card-expiration .card-expiration-month:after, .credit-card-wrapper .front .card-expiration .card-expiration-year:after {
  /*position:absolute;*/
  /*bottom: 42px;
  font-family: 'FontAwesome';
  content: '\f063';
  pointer-events: none;*/
}
.credit-card-wrapper .front .card-expiration .card-expiration-month: after {
  left: 118px;
}
.credit-card-wrapper .front .card-expiration .card-expiration-year: after {
  left: 218px;
}
.credit-card-wrapper .front .card-expiration .card-expiration-month-label {
  margin-bottom: 6px;
}
.credit-card-wrapper .front .card-expiration .card-expiration-year-label {
  margin-bottom: 6px;
}
.credit-card-wrapper .front .card-expiration .card-expiration-slash {
  font-size: 32px;
  padding: 30px 6px;
}
.credit-card-wrapper .front .card-expiration select {
  background: #326c92;
  border-radius: 4px;
  border: 1px solid gray;
  color: white;
  font-size: 30px;
  padding: 3px 12px 3px 8px;
  width: 70px;
}
.credit-card-wrapper .back {
  background: #367BA5;
  top: 100px;
  left: 300px;
  z-index: 1;
}
.credit-card-wrapper .back .magnetic-strip {
  background: #111;
  margin-top: 24px;
  height: 60px;
  width: 100%;
}
.credit-card-wrapper .back .credit-card-ccv {
  text-align: right;
}
.credit-card-wrapper .back .credit-card-ccv .credit-card-ccv-label {
  padding: 12px 24px 6px;
}
.credit-card-wrapper .back .credit-card-ccv .credit-card-ccv-strip {
  margin: 0 24px;
  height: 60px;
  background: rgb(255, 255, 255, 0.4);
}
.credit-card-wrapper .back .credit-card-ccv .credit-card-ccv-prefix {
  color: black;
  float: right;
  font-size: 24px;
  letter-spacing: 2.5px;
  padding: 15px 12px;
  -moz-transform: skew(5deg, 0);
  -o-transform: skew(5deg, 0);
  -webkit-transform: skew(5deg, 0);
  transform: skew(5deg, 0);
}
.credit-card-wrapper .back .credit-card-ccv .credit-card-ccv-box {
  background: white;
  position: absolute;
  margin-left: 250px;
  top: 125px;
  right: 20px;
  content: '';
  border-radius: 4px;
  border: 1px solid gray;
  height: 46px;
  width: 80px;
}

.credit-card-wrapper .back .credit-card-ccv input {
  float: right;
  background: transparent;
  border-radius: 4px;
  color: black;
  font-size: 26px;
  margin: 6px 0 0 0;
  padding: 8px;
  width: 70px;
  -moz-transform: skew(5deg, 0);
  -o-transform: skew(5deg, 0);
  -webkit-transform: skew(5deg, 0);
  transform: skew(5deg, 0);
}
/*END payment styling*/

/* Start footer */
#footer-text {
  text-shadow: none;
}

/* Start footer */
/* Start Thumbnail customisation with effects */
/*This bit makes the iamge slightly larger but is "choppy" */
.home-thumb img:hover {
  transform: scale(1.1);
}

.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
  box-shadow: 0 0 10px 10px #d3d3d3;
}

.thumbnail {
  overflow: hidden;
  margin-bottom: 0px;
  padding: 2px;
}

.bg-grey {
  background-color: #f9f9f9;
}

.carousel {
  margin-bottom: 20px;
  box-shadow: 0 0 5px 5px #d3d3d3;
}

.carousel-caption {
  text-shadow: 0.1em 0.1em 0.1em black;
}
/* End Thumbnail customisation with effects */

/* Navbar colours:;
Navy Blue: #2C3E50;
Navy Blue Active (darker): #1A242F;
Turquoise : #18BC9C;
White: #FFFFFF;
*/

/* button colors:
BTN Primary: #2C3E50;
BTN Primary Hover: #1E2A36;
BTN Primary Hover Border: #161F29;

BTN Success: #18BC9C;
BTN Success Hover: #13987E;
BTN Success Hover Border: #11866F;

/* contact form button:; 
BTN Default: #95A5A6;
BTN Default Hover: #7F9293;
BTN Default Hover Border: #74898A;
